@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
body {
  margin: 0;
  font-family: muli;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: rgb(255, 255, 255);
}
.navbar-brand{
  font-size:2rem;
  color:blue;
}
.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}

